[submodule "iterm2"]
	path = iterm2
	url = git@github.com:ahmedsayedabdelsalam/iterm2.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
  ignore = untracked
[submodule "fzf/fzf-git.sh"]
	path = fzf/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "yazi/flavors"]
	path = yazi/flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule "tmux/.tmux/plugins/catppuccin"]
	path = tmux/.tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
