" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)





""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""






""" Plugins  --------------------------------
set which-key
set notimeout
set NERDTree
set commentary
set surround
set ideajoin


""" Common settings -------------------------
set visualbell
set noerrorbells
set scrolloff=5                                     " minimum number of lines above and below the cursor
set ignorecase                                      " search case insensitive
set incsearch                                       " go to matched search while typing
set number                                          " print the line number in front of each line
set clipboard+=unnamed                              " yank to system clipboard


""" Map leader to space ---------------------
let mapleader = " "

""" keep indenting ---------------------
vmap > >gv
vmap < <gv

inoremap jj <Esc>


nmap <leader>ff <Action>(GotoFile)
nmap <leader><leader> <Action>(GotoFile)
nmap <leader>fd <Action>(FindInPath)
nmap <leader>fr <Action>(RecentFiles)

nmap <leader>sg <Action>(FindInPath)

nmap <leader>bd <Action>(CloseContent)
nmap <leader>bo <Action>(CloseAllEditorsButActive)

nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dc <Action>(Debug)
nmap <leader>dt <Action>(Stop)

nmap <leader>ca <Action>(ShowIntentionActions)

map <leader>e :NERDTreeToggle<CR>
nmap <leader>/ <Action>(ActivateTerminalToolWindow)
nmap <leader>q <Action>(HideActiveWindow)

nmap L <Action>(NextTab)
nmap H <Action>(PreviousTab)
nmap <leader>bo <Action>(CloseAllEditorsButActive)

nmap gI <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)

nmap <leader>cr <Action>(RenameElement)