layout {
    tab name="code" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane name="code"
    }
    tab name="cmd" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane name="cmd"
            pane stacked=true {
                pane name="server" command="rails" start_suspended=true expanded=true {
                    args "server"
                }
                pane name="npm" command="yarn" start_suspended=true {
                    args "watch"
                }
            }
        }
    }
}
